@model JamesAmos.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@using JamesAmos.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<div class="container-fluid p-0">
    <div class="site-content contact">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column">
                <h1 class="site-title">Amos Faith and Motivation</h1>
                <h2 class="site-desc">
                    Using Technology to Bring Nonprofits Across Washington State Together as One Cohesive Team!
                </h2>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container mt-2 " style="width: 45rem;">
    <div class="card-deck">

        <div class="card card text-center mr-5 mb-1 row">

            <div class="card-body text-center parent col-sm">
                <div id="login">

                    <form method="post">

                        <div asp-validation-summary="All"></div>

                        <div class="boxes">
                            <input asp-for="Email" placeholder="Email Address" class="form-control mb-2" required />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <br />
                        <div class="boxes">
                            <input asp-for="Password" placeholder="Password" class="form-control mb-2" required />
                            <span asp-validation-for="Password"></span>
                        </div>

                        <button type="submit" id="login-btn" class="btn btn-outline-secondary mt-2">Login</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />